<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pplc.coffeegunungmalang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".keranjang_belanja.activity_keranjang_checkout_metodepembayaran"></activity>
        <activity android:name=".keranjang_belanja.activity_keranjang_checkout_nomortelepon" />
        <activity android:name=".keranjang_belanja.activity_keranjang_checkout_jasapengiriman" />
        <activity android:name=".profile.activity_profile_bantuan" />
        <activity android:name=".profile.activity_profile_ketentuan_layanan" />
        <activity android:name=".profile.activity_profile_kebijakan_privasi" />
        <activity android:name=".profile.activity_profile_bind_account" />
        <activity android:name=".profile.activity_profile_ubah_biodata" />
        <activity android:name=".keranjang_belanja.activity_keranjang_checkout_tambah_alamat" />
        <activity android:name=".keranjang_belanja.activity_keranjang_checkout" />
        <activity android:name=".register.activity_register" />
        <activity android:name=".login.activity_login" />
        <activity android:name=".activity_splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>